<ngx-back-link modelPlural="Plots" crumbLabel="Single record"></ngx-back-link>
<nb-card>
  <nb-card-header>
    Plot Details
  </nb-card-header>
  <nb-card-body>
    <ngx-oeh-map *ngIf="isCoordsRecorded()" [lat]="plotData.lat" [long]="plotData.long"
      [markers]="markers" [secondaryMarkers]="secondaryMarkers"></ngx-oeh-map>
    <div *ngIf="!isCoordsRecorded()" class="text-hint text-center m-3">
      No lat/long recorded, cannot show map.
    </div>
    <ngx-edit-link [targetRecordId]="plotData.id"></ngx-edit-link>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{plotData.id}}</td>
        </tr>
        <tr oehSingle
          label="Name"
          [record]="plotData"
          targetField="name">
        </tr>
        <tr oehSingle
          label="Latitude"
          [record]="plotData"
          targetField="lat">
        </tr>
        <tr oehSingle
          label="Longitude"
          [record]="plotData"
          targetField="long">
        </tr>
        <tr oehSingle
          label="Altitude (metres)"
          [record]="plotData"
          targetField="altitudeMetres">
        </tr>
        <tr oehSingle
          label="Location Accuracy"
          [record]="plotData"
          targetField="locationAccuracy">
        </tr>
        <tr oehSingle
          label="Plot Code"
          [record]="plotData"
          targetField="plotCode">
        </tr>
        <tr oehSingleLink
          label="Study Area"
          pathFragPropName="fullStudyAreaSingle"
          [record]="plotData"
          targetField="studyArea">
        </tr>
        <tr oehSingleLink
          label="Contact"
          pathFragPropName="fullPhotopointUserSingle"
          [record]="plotData"
          targetField="contact">
        </tr>
        <tr oehMultiLink
          label="Censuses"
          pathFragPropName="fullCensusSingle"
          [record]="plotData"
          targetField="census">
        </tr>
        <tr oehMultiLink
          label="QR"
          pathFragPropName="fullQrSingle"
          [record]="plotData"
          nameValueField="qrUUID"
          targetField="qr">
        </tr>
        <tr>
          <th scope="row">Record created</th>
          <td>{{plotData.createdAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
        <tr>
          <th scope="row">Record last updated</th>
          <td>{{plotData.updatedAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
