<ngx-back-link modelPlural="Censuses" crumbLabel="Single record"></ngx-back-link>
<nb-card>
  <nb-card-header>
    Census Details
    <!-- TODO add link to panorama bulk upload for this record -->
  </nb-card-header>
  <nb-card-body>
    <ngx-oeh-map *ngIf="isCoordsRecorded()" [lat]="censusData.lat" [long]="censusData.long"
      [markers]="markers" [secondaryMarkers]="secondaryMarkers"></ngx-oeh-map>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{censusData.id}}</td>
        </tr>
        <tr oehSingle
          label="Name"
          [record]="censusData"
          targetField="name">
        </tr>
        <tr>
          <th scope="row">Census Start Date</th>
          <td>{{censusData.censusStartDate | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
        <tr>
          <th scope="row">Census Completed?</th>
          <td>{{getCensusEndDate()}}</td>
        </tr>
        <tr oehSingle
          label="Type"
          [record]="censusTypeLabel"
          targetField="label">
        </tr>
        <tr oehSingle
          label="Latitude"
          [record]="censusData"
          targetField="lat">
        </tr>
        <tr oehSingle
          label="Longitude"
          [record]="censusData"
          targetField="long">
        </tr>
        <tr oehSingle
          label="Altitude (metres)"
          [record]="censusData"
          targetField="altitudeMetres">
        </tr>
        <tr oehSingle
          label="Location Accuracy"
          [record]="censusData"
          targetField="locationAccuracy">
        </tr>
        <tr oehSingleLink
          label="Collector"
          pathFragPropName="fullPhotopointUserSingle"
          [record]="censusData"
          targetField="collector">
        </tr>
        <tr oehSingleLink
          label="Plot"
          pathFragPropName="fullPlotSingle"
          [record]="censusData"
          targetField="plot">
        </tr>
        <tr oehSingle *ngIf="isBam()"
          label="Community Vegetation Type"
          [record]="vegCommunityLabel"
          targetField="label">
        </tr>
        <tr oehMultiLink
          label="Panorama Photos"
          pathFragPropName="fullPhotoPanoramaSingle"
          [record]="censusData"
          targetField="panoramaPhotos">
        </tr>
        <tr>
          <th>Up/Down Photo Gallery</th>
          <td>
            <a *ngIf="isUpDownPhotos" [routerLink]="buildUpDownGalleryLink()">View {{upDownPhotoCount}} photos as gallery</a>
            <span *ngIf="!isUpDownPhotos" class="text-hint">No photos</span>
          </td>
        <tr>
          <th scope="row">Record created</th>
          <td>{{censusData.createdAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
        <tr>
          <th scope="row">Record last updated</th>
          <td>{{censusData.updatedAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
        <tr>
          <th scope="row">Device Info</th>
          <td *ngIf="!censusData.deviceInfo">
            <span class="text-hint">No value</span>
          </td>
          <td *ngIf="censusData.deviceInfo">
            <button type="button" class="btn btn-secondary btn-tn" *ngIf="!isDeviceInfoShown" (click)="isDeviceInfoShown = true">
              Show details...
            </button>
            <dl *ngIf="isDeviceInfoShown">
              <dt>Name</dt> <dd>{{censusData.deviceInfo.name}}</dd>
              <dt>Manufacturer</dt> <dd>{{censusData.deviceInfo.manufacturer}}</dd>
              <dt>Model</dt> <dd>{{censusData.deviceInfo.model}}</dd>
              <dt>Version</dt> <dd>{{censusData.deviceInfo.version}}</dd>
              <dt>Display density</dt> <dd>{{censusData.deviceInfo.displayDensity}}</dd>
              <dt>Display DPI</dt> <dd>{{censusData.deviceInfo.displayDpi}}</dd>
              <dt>Display height</dt> <dd>{{censusData.deviceInfo.displayHeight}}</dd>
              <dt>Display width</dt> <dd>{{censusData.deviceInfo.displayWidth}}</dd>
              <dt>Logical density factor</dt> <dd>{{censusData.deviceInfo.logicalDensityFactor}}</dd>
            </dl>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
