<th scope="row">{{label}}</th>
<td>
  <a *ngIf="isValuePresent" [routerLink]="linkUrl"
    [queryParams]="{id:idValue}">
    {{nameValue}}
  </a>
  <span *ngIf="!isValuePresent" class="text-hint">No value</span>
</td>
