<span *ngIf="isData(); else loading">
  <a
    [routerLink]="getTargetUrl()"
    [queryParams]="{id:getId()}">
      {{getTitle()}}
  </a>
</span>
<ng-template #loading>
  <img src="assets/loading.gif">
</ng-template>

