<!-- We need this CSS so the multi-select doesn't cause the card to scroll -->
<style>
  nb-card-body {
    overflow: visible;
  }
</style>

<ngx-back-link modelPlural="{{modelNameSingular}}s" crumbLabel="{{getModeLabel()}} record"></ngx-back-link>
<nb-card>
  <nb-card-header>
    {{getModeLabel()}} a {{modelNameSingular}}
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" (ngSubmit)="submit(model)">
      <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options">
        <nb-alert status="info" class="mt-2 text-center" *ngIf="state === states.loading">
          Processing...
        </nb-alert>
        <nb-alert status="success" class="mt-2 text-center" *ngIf="state === states.success">
          {{getModeLabel()}} successful.
          <a [routerLink]="singleRecordRouterLink" [queryParams]="{id:newId}" class="btn btn-link">
            View the record for "{{newRecordLabel}}"
          </a>
        </nb-alert>
        <nb-alert status="danger" class="mt-2 text-center" *ngIf="state === states.failed">
          {{getModeLabel()}} failed.
        </nb-alert>
        <div class="input-group mt-4 mb-2">
          <label *ngIf="!isEditMode" title="If selected, will reset the form and leave you on this page.">
            <input type="checkbox" [checked]="isCreateAnother" (change)="isCreateAnother = !isCreateAnother" />
            Create another record after?
          </label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </formly-form>
    </form>
  </nb-card-body>
</nb-card>
