<nb-card>
  <nb-card-header>
    <a *ngIf="!isDisableCreate" routerLink="../create" role="button"
      class="btn btn-secondary btn-tn float-right mr-2">Create new record</a>
    All {{modelPlural}}
  </nb-card-header>
  <nb-card-body>
    <ag-grid-angular
      class="the-grid ag-theme-balham"
      [columnDefs]="columnDefs"
      [enableSorting]="true"
      [enableFilter]="true"
      [enableColResize]="true"
      [enableServerSideSorting]="true"
      [enableServerSideFilter]="true"
      [rowData]="rowData | async"
      rowModelType="infinite"
      [infiniteInitialRowCount]="1"
      [cacheOverflowSize]="2"
      [maxConcurrentDatasourceRequests]="2"
      cacheBlockSize="50"
      (gridReady)="onGridReady($event)"
      >
    </ag-grid-angular>
  </nb-card-body>
</nb-card>
  
