<div class="border rounded my-3">
  <agm-map id="the-map" [latitude]="lat" [longitude]="long"
      gestureHandling="cooperative" mapTypeId="hybrid" [scrollwheel]="null">
    <agm-marker *ngFor="let curr of markers"
      [latitude]="curr.lat" [longitude]="curr.long" iconUrl="assets/markers/spotlight-poi2.png">
      <agm-info-window>
        <strong>{{curr.label}}</strong>
      </agm-info-window>
    </agm-marker>
    <agm-marker-cluster imagePath="assets/markers/m" maxZoom="16">
      <agm-marker *ngFor="let curr of secondaryMarkers"
        [latitude]="curr.lat" [longitude]="curr.long" iconUrl="assets/markers/green-dot.png">
        <agm-info-window>
          <strong>{{curr.label}}</strong>
        </agm-info-window>
      </agm-marker>
    </agm-marker-cluster>
  </agm-map>
</div>
