<ngx-back-link modelPlural="Up/Down Photos" crumbLabel="Single record"></ngx-back-link>
<nb-card>
  <nb-card-header>
    Up/Down Photo Details
  </nb-card-header>
  <nb-card-body>
    <div class="text-center">
      <!-- TODO add image viewer that constrains a huge image -->
      <img [src]="getPhotoUrlMediumSize()" [alt]="photoUpDownData.name"
        class="mt-2 mb-3 p-1 border rounded img-fluid">
    </div>
    <div class="text-center mt-1 mb-1">
        <a class="btn btn-secondary" [href]="getPhotoUrlFullSize()" role="button" target="_blank">View full size image</a>
    </div>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{photoUpDownData.id}}</td>
        </tr>
        <tr oehSingle
          label="Name"
          [record]="photoUpDownData"
          targetField="name">
        </tr>
        <tr oehSingle
          label="Sequence"
          [record]="photoUpDownData"
          targetField="sequence">
        </tr>
        <tr oehSingle
          label="Latitude"
          [record]="photoUpDownData"
          targetField="lat">
        </tr>
        <tr oehSingle
          label="Longitude"
          [record]="photoUpDownData"
          targetField="long">
        </tr>
        <tr oehSingleLink
          label="Census"
          pathFragPropName="fullCensusSingle"
          [record]="photoUpDownData"
          targetField="census">
        </tr>
        <tr>
          <th scope="row">Record created</th>
          <td>{{photoUpDownData.createdAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
        <tr>
          <th scope="row">Record last updated</th>
          <td>{{photoUpDownData.updatedAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
