<ngx-back-link modelPlural="Organisations" crumbLabel="Single record"></ngx-back-link>
<nb-card>
  <nb-card-header>
    Organisation Details
  </nb-card-header>
  <nb-card-body>
    <ngx-edit-link [targetRecordId]="organisationData.id"></ngx-edit-link>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{organisationData.id}}</td>
        </tr>
        <tr oehSingle
          label="Name"
          [record]="organisationData"
          targetField="name">
        </tr>
        <tr oehSingle
          label="Contact Email"
          [record]="organisationData"
          targetField="contactEmail">
        </tr>
        <tr oehSingle
          label="Address"
          [record]="organisationData"
          targetField="address">
        </tr>
        <tr>
          <th scope="row">Website</th>
          <td>
            <a *ngIf="organisationData.website" [href]="getWebsite()">{{organisationData.website}}</a>
            <span *ngIf="!organisationData.website" class="text-hint">No value</span>
          </td>
        </tr>
        <tr oehMultiLink
          label="Members"
          pathFragPropName="fullPhotopointUserSingle"
          [record]="organisationData"
          targetField="members">
        </tr>
        <tr>
          <th scope="row">Record created</th>
          <td>{{organisationData.createdAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
        <tr>
          <th scope="row">Record last updated</th>
          <td>{{organisationData.updatedAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
