<ngx-back-link modelPlural="QR codes" crumbLabel="Single record"></ngx-back-link>
<nb-card>
  <nb-card-header>
    QR Details
  </nb-card-header>
  <nb-card-body>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{qrData.id}}</td>
        </tr>
        <tr>
          <th scope="row">QR Code</th>
          <td>
            <p class="alert alert-primary" role="alert">
              To use this image in your own work, right-click
              and select "Save as" or "copy".
            </p>
            <qrcode [qrdata]="qrData.qrUUID" [size]="256" [level]="'M'"></qrcode>
          </td>
        </tr>
        <tr>
          <th scope="row">Raw QR code</th>
          <td><samp>{{qrData.qrUUID}}</samp></td>
        </tr>
        <tr oehSingleLink
          label="Plot"
          pathFragPropName="fullPlotSingle"
          [record]="qrData"
          targetField="plot">
        </tr>
        <tr oehSingleLink
          label="Photopoint User"
          pathFragPropName="fullPhotopointUserSingle"
          [record]="qrData"
          targetField="user">
        </tr>
        <tr>
          <th scope="row">Record created</th>
          <td>{{qrData.createdAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
        <tr>
          <th scope="row">Record last updated</th>
          <td>{{qrData.updatedAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
