<ngx-back-link modelPlural="Panorama Photos" crumbLabel="Bulk upload"></ngx-back-link>
<nb-card>
  <nb-card-header>
    Panorama Photo bulk upload
  </nb-card-header>
  <nb-card-body>
    <p>
      Instructions:<br />
      Here you can bulk upload DSLR panoramic photos that have been sent to you. The uploaded photos will be:
      linked to the Census that you select, all marked with the point number and will have a sequence number
      automatically applied in alphabetical order by filename.
    </p>
    <ol>
      <li>Select a Census to upload these photos to</li>
      <li>Select the photopoint number</li>
      <li>Add all your photos for this point by either using the browse
        button or dragging and dropping your photos onto the grey area. JPEG photos are preferred but you can upload any type.</li>
      <li>Press upload (button will appear when you have added photos)</li>
    </ol>
    <ngx-uppy-friend [fields]="fields" [model]="model"
      [form]="form" [options]="options"></ngx-uppy-friend>
    <nb-alert status="info" class="mt-2 text-center" *ngIf="state === states.postProcessing">
      <p>Post processing images...</p>
      <ngb-progressbar type="success" [value]="90" [striped]="true" [animated]="true" height="2rem"><i>Processing</i></ngb-progressbar>
    </nb-alert>
    <nb-alert status="success" class="mt-2 text-center" *ngIf="state === states.donePostProcessing">
      Successfully completed upload and post processing.<br />
      <a [routerLink]="censusSingleUrl" [queryParams]="{id: model.census}">View the census record</a>
    </nb-alert>
    <nb-alert status="danger" class="mt-2 text-center" *ngIf="isInErrorState()" [ngSwitch]="state">
      <span *ngSwitchCase="states.errorBulkPost">
        Error: failed to send post-processing information to the server, photos on the server have 
        *not* been linked with the census.
      </span>
      <span *ngSwitchCase="states.errorFileUpload">Error: failed to upload a photo to the server.</span>
      <span *ngSwitchCase="states.errorNoSuccessfulResults">Error: something went wrong when preparing to send photos to the server.</span>
      <span *ngSwitchCase="states.errorNoUploadUrl">
        Error: an uploaded photo is missing some information we need to post-process it, cannot continue.
      </span>
      <span *ngSwitchCase="states.errorReduce">
        Error: failed while post-processing the photos, photos on the server have *not* been linked with the census.
      </span>
      <span *ngSwitchCase="states.errorValidation">Error: you must select a census and enter a point number *before* uploading.</span>
      <span *ngSwitchDefault>Error: something went wrong, but we don't have any more details, sorry.</span>
    </nb-alert>
    <div id="uppy"></div>
  </nb-card-body>
</nb-card>
