<ngx-back-link modelPlural="Panorama Photos" crumbLabel="Single record"></ngx-back-link>
<nb-card>
  <nb-card-header>
    Panorama Photo Details
  </nb-card-header>
  <nb-card-body>
    <!-- FIXME hide when uploaded from phone -->
    <ngx-edit-link *ngIf="isEditable()" [targetRecordId]="photoPanoramaData.id"></ngx-edit-link>
    <div *ngIf="isPhotoWebSafe">
      <div class="text-center">
        <img [src]="getPhotoUrlMediumSize()" [alt]="photoPanoramaData.name"
          class="mt-2 mb-3 p-1 border rounded img-fluid">
      </div>
      <div class="text-center mt-1 mb-1">
        <a class="btn btn-secondary" [href]="getPhotoUrlFullSize()" role="button" target="_blank">View full size image</a>
      </div>
    </div>
    <div *ngIf="!isPhotoWebSafe">
      <p class="text-center">
        No preview availble. This image cannot be displayed on a web page.
      </p>
      <div class="text-center mt-1 mb-1">
        <a class="btn btn-secondary" [href]="rawDownloadUrl" role="button" target="_blank">Download image</a>
      </div>
    </div>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{photoPanoramaData.id}}</td>
        </tr>
        <tr oehSingle
          label="Name"
          [record]="photoPanoramaData"
          targetField="name">
        </tr>
        <tr oehSingle
          label="Point"
          [record]="photoPanoramaData"
          targetField="point">
        </tr>
        <tr oehSingle
          label="Sequence"
          [record]="photoPanoramaData"
          targetField="sequence">
        </tr>
        <tr oehSingle
          label="Source"
          [record]="photoPanoramaData"
          targetField="source">
        </tr>
        <tr>
          <th scope="row">Stitched?</th>
          <td>{{getIsStitched()}}</td>
        </tr>
        <tr oehSingleLink
          label="Census"
          pathFragPropName="fullCensusSingle"
          [record]="photoPanoramaData"
          targetField="census">
        </tr>
        <tr>
          <th scope="row">Record created</th>
          <td>{{photoPanoramaData.createdAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
        <tr>
          <th scope="row">Record last updated</th>
          <td>{{photoPanoramaData.updatedAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
        <tr>
          <th scope="row">EXIF Data</th>
          <td *ngIf="!photoPanoramaData.exif">
            <span class="text-hint">No value</span>
          </td>
          <td *ngIf="photoPanoramaData.exif">
            <button type="button" class="btn btn-secondary btn-tn" *ngIf="!isExifShown" (click)="isExifShown = true">
              Show details...
            </button>
            <dl *ngIf="isExifShown">
              <dt>Make</dt> <dd>{{photoPanoramaData.exif.Make}}</dd>
              <dt>Model</dt> <dd>{{photoPanoramaData.exif.Model}}</dd>
              <dt>Software</dt> <dd>{{photoPanoramaData.exif.Software}}</dd>
              <dt>F-Number</dt> <dd>{{photoPanoramaData.exif.FNumber}}</dd>
              <dt>ISO</dt> <dd>{{photoPanoramaData.exif.ISO}}</dd>
              <!-- FIXME should we render aperture as a fraction? -->
              <dt>Aperture value</dt> <dd>{{photoPanoramaData.exif.ApertureValue}}</dd>
            </dl>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
