// @nebular theming framework
@import '~@nebular/theme/styles/_theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/_themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  link-color: #567621,
  scrollbar-width: 10px,
), default, default);

.nb-theme-default .form-control.is-invalid, .nb-theme-default .form-control.is-invalid:focus {
  border-color: #dc3545;
}
