<ngx-back-link modelPlural="Study Areas" crumbLabel="Single record"></ngx-back-link>
<nb-card>
  <nb-card-header>
    Study Area Details
  </nb-card-header>
  <nb-card-body>
    <ngx-edit-link [targetRecordId]="saData.id"></ngx-edit-link>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{saData.id}}</td>
        </tr>
        <tr oehSingle
          label="Name"
          [record]="saData"
          targetField="name">
        </tr>
        <tr oehSingle
          label="Description"
          [record]="saData"
          targetField="description">
        </tr>
        <tr oehSingle
          label="Program"
          [record]="saData"
          targetField="program">
        </tr>
        <tr oehSingleLink
          label="Coordinator"
          pathFragPropName="fullPhotopointUserSingle"
          [record]="saData"
          targetField="coordinator">
        </tr>
        <tr oehMultiLink
          label="Plots"
          pathFragPropName="fullPlotSingle"
          [record]="saData"
          targetField="plots">
        </tr>
        <!-- not handling saData.boundary at this stage -->
        <tr>
          <th scope="row">Record created</th>
          <td>{{saData.createdAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
        <tr>
          <th scope="row">Record last updated</th>
          <td>{{saData.updatedAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
