<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="../all" >All {{typeFragment}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{crumbLabel}}</li>
  </ol>
</nav>
