<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="allCensusLink">All Censuses</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="singleCensusLink" [queryParams]="{id: censusId}">Single Census</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Up/Down Photo Gallery
    </li>
  </ol>
</nav>
<nb-card>
  <nb-card-header>
    Up/Down Photo Gallery <br />
    <small class="text-muted">{{censusName}}</small>
  </nb-card-header>
  <nb-card-body>
    <p>
      Instructions:
    </p>
    <ul>
      <li>Click a photo to open a photo roll, an easier way to scroll through full-sized photos. Once in the photo roll, use the arrow keys on your keyboard, click the arrows to the left/right of the large image or click the thumbnails to navigate.</li>
      <li>Click the photo name to view the metadata associated with the photo</li>
    </ul>
    <div class="container"
        *ngIf="!isNoPhotos"
        infinite-scroll
        (scrolled)="onScrollDown()"
        infiniteScrollContainer=".scrollable-container"
        [fromRoot]="true">
      <div class="row">
        <div class="col-sm-3 col-xl-2 mb-3" *ngFor="let item of items; let i = index">
          <div class="card">
            <img [src]="item.data.thumb" class="card-img-top oeh-thumb" (click)="lightbox.open(i, 'lightbox', {panelClass: 'fullscreen'})">
            <div class="card-body">
              <h5 class="card-title">
                <a [routerLink]="singleUpDownPhotoLink" [queryParams]="{id: item.data.id}">{{item.data.title}}</a>
              </h5>
              <div class="card-title">
                Sequence: {{item.data.sequence}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isNoPhotos" class="text-center">
      <h3>Sorry, there are no photos for this census</h3>
    </div>
  </nb-card-body>
</nb-card>

