<th scope="row">{{label}}</th>
<td>
  <div class="list-group model-links" *ngIf="isValuePresent">
    <a [routerLink]="linkUrl"
      [queryParams]="{id:curr.id}"
      class="list-group-item list-group-item-action"
      *ngFor="let curr of childRecords">{{curr[nameValueField]}}</a>
  </div>
  <span *ngIf="!isValuePresent" class="text-hint">No values</span>
</td>