<div class="row">
  <nb-card>
    <nb-card-body>
      <h1>Whoops, we couldn't find that</h1>
      <p>
        You asked us for a page that doesn't exist. If you copy and pasted the URL, check that you
        copied the whole URL. If you followed the link from elsewhere in this website, perhaps
        the record no longer exits.
      </p>
      <p>Use the menu to navigate around the website.</p>
      <!-- TODO get info about where we were redirected from, so we can use that in the message -->
    </nb-card-body>
  </nb-card>
</div>
