<div class="row">
  <nb-card>
    <nb-card-body>
      <h1 class="text-danger">Whoops, that didn't work</h1>
      <p>
        Something has gone wrong. We've recorded the error so we can try to fix
        the problem.
      </p>
      <p>
        The issue may have been caused by internet connectivity issues. In this
        case you can try the action again and it may succeed. If trying again
        still fails, you may have to contact the system administrator to find
        a solution.
      </p>
      <p>To try again, <a href="javascript:void(0)" (click)="goBack()">go back</a> to the last page.</p>
    </nb-card-body>
  </nb-card>
</div>
