<div class="row">
  <nb-card class="col-xl-10">
    <nb-card-body>
      <h1 class="text-center">Welcome</h1>
      <p>Using this web application you can:</p>
      <ul class="mb-4">
        <li>view all the existing data in the system</li>
        <li>make changes to existing records</li>
        <li>add new data to the system</li>
      </ul>
      <h2>Data model overview</h2>
      <p>Here is an overview of how the different records in the system tie together.</p>
      <img id="model-overview" src="/assets/model-overview.svg" class="m-2">
    </nb-card-body>
  </nb-card>
</div>
