<ngx-back-link modelPlural="Users" crumbLabel="Single record"></ngx-back-link>
<nb-card>
  <nb-card-header>
    Photopoint User Details
  </nb-card-header>
  <nb-card-body>
    <ngx-edit-link [targetRecordId]="userData.id"></ngx-edit-link>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{userData.id}}</td>
        </tr>
        <tr oehSingle
          label="Name"
          [record]="userData"
          targetField="name">
        </tr>
        <tr oehSingle
          label="E-mail"
          [record]="userData"
          targetField="email">
        </tr>
        <tr oehSingle
          label="User type"
          [record]="userData"
          targetField="type">
        </tr>
        <tr oehMultiLink
          label="QR"
          pathFragPropName="fullQrSingle"
          [record]="userData"
          nameValueField="qrUUID"
          targetField="qr">
        </tr>
        <tr oehSingleLink
          label="Affiliation"
          pathFragPropName="fullOrganisationSingle"
          [record]="userData"
          targetField="affiliation">
        </tr>
        <tr oehMultiLink
          label="Coordinator of"
          pathFragPropName="fullStudyAreaSingle"
          [record]="userData"
          targetField="coordinatorOf">
        </tr>
        <tr oehMultiLink
          label="Contact for"
          pathFragPropName="fullPlotSingle"
          [record]="userData"
          targetField="contactFor">
        </tr>
        <tr oehMultiLink
          label="Collector for"
          pathFragPropName="fullCensusSingle"
          [record]="userData"
          targetField="collectorFor">
        </tr>
        <tr>
          <th scope="row">Record created</th>
          <td>{{userData.createdAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
        <tr>
          <th scope="row">Record last updated</th>
          <td>{{userData.updatedAt | date:'dd-MM-yyyy HH:mm a'}}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
